---
title: Home
permalink: "/"
layout: page
---


<section id="topSection">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="title">Kev Phone Warehouse</h1>
        <h2 class="subTitle">Simple charging, for simple people</h2>
      </div>
    </div>
  </div>
</section>


<section id="bottomSection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4">{% include device1.html %}</div>
      <div class="col-4">{% include device2.html %}</div>
      <div class="col-4">{% include device3.html %}</div>
    </div>
  </div>
</section>
